<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #exampleModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">تغيير الحالة</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="OrderStatuses"
            [(ngModel)]="status"
            placeholder="اختر الحالة"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          إغلاق
        </button>

        <button type="button" class="btn btn-primary" (click)="StatusControl()">
          تغيير الحالة
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card flex justify-content-center">
  <p-toast />
</div>
