<div class="container">
  <div>
    <!-- Main Content -->
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <!-- End of Main Content -->
  </div>
  <!-- Sidebar Section -->

  <aside>
    <div class="toggle">
      <div class="logo">
        <img src="assets/images/logo.png" />
        <h2>Asmr<span class="danger">Prog</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp"> close </span>
      </div>
    </div>

    <div class="sidebar">
      <a
        href="#"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="material-icons-sharp"> dashboard </span>
        <h3>Dashboard</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> person_outline </span>
        <h3>Employees</h3>
      </a>
      <a href="#" [routerLink]="['/addorder']" routerLinkActive="active">
        <span class="material-icons-sharp"> receipt_long </span>
        <h3>Add Order</h3>
      </a>

     

      <a href="#">
        <span class="material-icons-sharp"> insights </span>
        <h3>Analytics</h3>
      </a>



       <!-- Link To Display Delivery Accounts  -->
       <a  [routerLink]="['/DeliveryAccounts']" routerLinkActive="active">
        <span class="material-icons-sharp"> receipt_long </span>
        <h3> المندوب</h3>
      </a>


       <!-- Link To Display Merchant Accounts  -->

       <a  [routerLink]="['/MerchantAccounts']" routerLinkActive="active">
        <span class="material-icons-sharp"> receipt_long </span>
        <h3> التاجر</h3>
      </a>


      <a href="#">
        <span class="material-icons-sharp"> mail_outline </span>
        <h3>Tickets</h3>
        <span class="message-count">27</span>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> inventory </span>
        <h3>Sale List</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> report_gmailerrorred </span>
        <h3>Reports</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> settings </span>
        <h3>Settings</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> add </span>
        <h3>New Login</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp"> logout </span>
        <h3>Logout</h3>
      </a>
    </div>
  </aside>
  <!-- End of Sidebar Section -->
</div>
