<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-lg-9 d-flex flex-column">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-2">
      <button id="menu-btn" class="menu-btn" (click)="toggleSidebar()">
        <span *ngIf="!isSidebarVisible">☰</span>
        <span *ngIf="isSidebarVisible" class="fs-3">X</span>
      </button>

      <aside [class.active]="isSidebarVisible">
        <div class="toggle">
          <div class="logo">
            <img src="assets/logos/logo (2).png" width="150" height="150" />
            <!-- <img src="assets/logos/logo2.png" width="150" height="150" /> -->
            <h2>Truck<span class="danger">Track</span></h2>
          </div>
        </div>

        <div class="sidebar">
          <a
            href="#"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <ng-container *ngIf="roleName == 'Admin'">
            <a
              href="#"
              [routerLink]="['/role']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <span> <i class="bi bi-shield-check fs-4"></i></span>
              <h3>الصلاحيات</h3>
            </a>
            <a
              href="#"
              [routerLink]="['/employee']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <span class="material-icons-sharp"> person_outline </span>
              <h3>الموظفين</h3>
            </a>
            <!-- Link To Display Delivery Accounts  -->
            <a
              [routerLink]="['/DeliveryAccounts']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <span>
                <i class="bi bi-person-walking fs-4"></i>
              </span>
              <h3>المندوب</h3>
            </a>

            <!-- Link To Display Merchant Accounts  -->
            <a [routerLink]="['/MerchantAccounts']" routerLinkActive="active">
              <span>
                <i class="bi bi-shop fs-4"></i>
              </span>
              <h3>التاجر</h3>
            </a>
            <a
              href="#"
              [routerLink]="['/Branches']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
              ><span>
                <i class="bi bi-bank fs-4"></i>
              </span>
              <h3>الفروع</h3>
            </a>
            <a
              href="#"
              [routerLink]="['/Governments']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
              ><span>
                <i class="bi bi-bank fs-4"></i>
              </span>
              <h3>المحافظات</h3>
            </a>
            <a
              href="#"
              [routerLink]="['/Cities']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
              ><span>
                <i class="bi bi-bank fs-4"></i>
              </span>
              <h3>المدن</h3>
            </a>
          </ng-container>

          <a
            href="#"
            [routerLink]="['/orders']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
          >
            <span>
              <i class="bi bi-truck fs-4"></i>
            </span>
            <h3>الطلبات</h3>
          </a>

          <a
            href="#"
            [routerLink]="['/report']"
            routerLinkActive="active"
            *ngIf="roleName == 'Admin'"
          >
            <span class="material-icons-sharp"> report_gmailerrorred </span>
            <h3>التقارير</h3>
          </a>
          <!-- <a href="#">
            <span class="material-icons-sharp"> settings </span>
            <h3>Settings</h3>
          </a> -->

          <a href="#">
            <span class="material-icons-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
    </div>
  </div>
</div>
