<div class="row g-3 mt-5 pt-0 p-5 text-end bg-body-tertiary">
  <div class="bg-white p-3 rounded">
      <h3 class="font-weight-bold">التجار</h3>
      <h4>
          <span><a routerLink="/AddMerchantAccount" routerLinkActive="active">اضافه تاجر </a></span>
          <span> > </span>
          <span><a routerLink="/MerchantAccounts" routerLinkActive="active"> التجار </a></span>
          <span> < </span>
          <span><i class="bi bi-house-door-fill"></i></span>
      </h4>
  </div>

  <div class="bg-white p-3 rounded">
      <h3 class="font-weight-bold">اضافه تاجر</h3>
      
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()" class="row text-end g-3 mt-5 pt-0">
          <div formGroupName="merchantForm" class="row">
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="password" class="form-label">كلمه المرور</label>
                <input type="password" class="form-control text-end" id="password" formControlName="password" placeholder="كلمه المرور">
                <div class="danger" *ngIf="mainForm.get('merchantForm.password')?.invalid && mainForm.get('merchantForm.password')!.touched">
                    <small>كلمه المرور مطلوبة</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="email" class="form-label">البريد الالكتروني</label>
                <input type="email" class="form-control text-end" id="email" formControlName="email" placeholder="البريد الالكتروني">
                <div class="danger" *ngIf="mainForm.get('merchantForm.email')?.invalid && mainForm.get('merchantForm.email')!.touched">
                    <small>البريد الالكتروني مطلوب</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="name" class="form-label">الاسم</label>
                <input type="text" class="form-control text-end" id="name" formControlName="name" placeholder="الاسم">
                <div class="danger" *ngIf="mainForm.get('merchantForm.name')?.invalid && mainForm.get('merchantForm.name')!.touched">
                    <small>الاسم مطلوب</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="address" class="form-label">العنوان</label>
                <input type="text" class="form-control text-end" id="address" formControlName="address" placeholder="العنوان">
                <div class="danger" *ngIf="mainForm.get('merchantForm.address')?.invalid && mainForm.get('merchantForm.address')!.touched">
                    <small>العنوان مطلوب</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="phone" class="form-label">رقم الهاتف</label>
                <input type="tel" class="form-control text-end" id="phone" formControlName="phone" placeholder="رقم الهاتف">
                <div class="danger" *ngIf="mainForm.get('merchantForm.phone')?.invalid && mainForm.get('merchantForm.phone')!.touched">
                    <small>رقم الهاتف مطلوب</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="branchId" class="form-label">الفرع</label>
                <select class="form-select text-end" id="branchId" formControlName="branchId" aria-label="الفرع">
                  <option value="" disabled selected>اختر الفرع</option>
                  <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
                </select>
                <div class="danger" *ngIf="mainForm.get('merchantForm.branchId')?.invalid && mainForm.get('merchantForm.branchId')?.touched">
                  <small>الفرع مطلوب</small>
                </div>
              </div>
            
              <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="city" class="form-label">المدينة</label>
                <select class="form-select text-end" id="city" formControlName="city" aria-label="المدينة">
                  <option value="" disabled selected>اختر المدينة</option>
                  <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                </select>
                <div class="danger" *ngIf="mainForm.get('merchantForm.city')?.invalid && mainForm.get('merchantForm.city')?.touched">
                  <small>المدينة مطلوبة</small>
                </div>
              </div>
            
              <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="government" class="form-label">المحافظة</label>
                <select class="form-select text-end" id="government" formControlName="government" aria-label="المحافظة">
                  <option value="" disabled selected>اختر المحافظة</option>
                  <option *ngFor="let government of governments" [value]="government.name">{{ government.name }}</option>
                </select>
                <div class="danger" *ngIf="mainForm.get('merchantForm.government')?.invalid && mainForm.get('merchantForm.government')?.touched">
                  <small>المحافظة مطلوبة</small>
                </div>
              </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="storeName" class="form-label">اسم المتجر</label>
                <input type="text" class="form-control text-end" id="storeName" formControlName="storeName" placeholder="اسم المتجر">
                <div class="danger" *ngIf="mainForm.get('merchantForm.storeName')?.invalid && mainForm.get('merchantForm.storeName')!.touched">
                    <small>اسم المتجر مطلوب</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="refund_Percentage" class="form-label">نسبة الاسترجاع</label>
                <input type="number" class="form-control text-end" id="refund_Percentage" formControlName="refund_Percentage" placeholder="نسبة الاسترجاع">
                <div class="danger" *ngIf="mainForm.get('merchantForm.refund_Percentage')?.invalid && mainForm.get('merchantForm.refund_Percentage')!.touched">
                    <small>نسبة الاسترجاع مطلوبة</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="pickup_Price" class="form-label">تكلفة الاستلام</label>
                <input type="number" class="form-control text-end" id="pickup_Price" formControlName="pickup_Price" placeholder="تكلفة الاستلام">
                <div class="danger" *ngIf="mainForm.get('merchantForm.pickup_Price')?.invalid && mainForm.get('merchantForm.pickup_Price')!.touched">
                    <small>تكلفة الاستلام مطلوبة</small>
                </div>
            </div>
          </div>

          <div formGroupName="specialOffersForm" class="mt-3">
            <div formArrayName="specialOffers" *ngFor="let specialOffer of specialOffers.controls; let i = index">
              <div [formGroupName]="i" class="row mb-3">
                <div class="col-lg-4 col-md-6 mb-3 mt-2">
                  <label for="specialPrice" class="form-label">سعر العرض الخاص</label>
                  <input type="number" class="form-control text-end" id="specialPrice" formControlName="specialPrice" placeholder="سعر العرض الخاص">
                  <div class="danger" *ngIf="specialOffer.get('specialPrice')?.invalid && specialOffer.get('specialPrice')!.touched">
                    <small>سعر العرض الخاص مطلوب</small>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-3 mt-2">
                  <label for="city" class="form-label">المدينة</label>
                  <select class="form-select text-end" id="city" formControlName="city" aria-label="المدينة">
                    <option value="" disabled selected>اختر المدينة</option>
                    <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                  </select>
                  <div class="danger" *ngIf="specialOffer.get('city')?.invalid && specialOffer.get('city')?.touched">
                    <small>المدينة مطلوبة</small>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-3 mt-2">
                  <label for="government" class="form-label">المحافظة</label>
                  <select class="form-select text-end" id="government" formControlName="government" aria-label="المحافظة">
                    <option value="" disabled selected>اختر المحافظة</option>
                    <option *ngFor="let government of governments" [value]="government.name">{{ government.name }}</option>
                  </select>
                  <div class="danger" *ngIf="specialOffer.get('government')?.invalid && specialOffer.get('government')?.touched">
                    <small>المحافظة مطلوبة</small>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-3 mt-2">
                  <button type="button" class="btn btn-danger" (click)="removeSpecialOffer(i)">حذف العرض</button>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <button type="button" class="btn btn-primary" (click)="addSpecialOffer()">إضافة عرض خاص</button>
            </div>
          </div>

          <div class="col-lg-12 mt-4">
              <button type="submit" class="btn btn-primary">حفظ</button>
          </div>
      </form>
  </div>
</div>
