<div class="row g-3 mt-5 pt-0 p-5 text-end bg-body-tertiary">
    <div class="bg-white p-3 rounded">
        <h3 class="font-weight-bold">التجار</h3>
        <h4>
            <span><a routerLink="/AddMerchantAccount" routerLinkActive="active">اضافه تاجر </a></span>
            <span> > </span>
            <span><a routerLink="/MerchantAccounts" routerLinkActive="active"> التجار </a></span>
            <span> < </span>
           
            <span><i class="bi bi-house-door-fill"></i></span>
        </h4>
    </div>

    <div class="bg-white p-3 rounded">
        <h3 class="font-weight-bold">اضافه تاجر</h3>
        
        <form [formGroup]="merchantForm" (ngSubmit)="onSubmit()"  class="row text-end g-3 mt-5 pt-0">
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="password" class="form-label">كلمه المرور</label>
                <input type="password" class="form-control text-end" id="password" formControlName="password" placeholder="كلمه المرور">
                <div class="danger" *ngIf="merchantForm.get('password')?.invalid && merchantForm.get('password')!.touched">
                    <small>Password is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="email" class="form-label">البريد الالكتروني</label>
                <input type="email" class="form-control text-end" id="email" formControlName="email" placeholder="البريد الالكتروني">
                <div class="danger" *ngIf="merchantForm.get('email')?.invalid && merchantForm.get('email')!.touched">
                    <small>Email is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="name" class="form-label">الاسم</label>
                <input type="text" class="form-control text-end" id="name" formControlName="name" placeholder="الاسم">
                <div class="danger" *ngIf="merchantForm.get('name')?.invalid && merchantForm.get('name')!.touched">
                    <small>Name is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="address" class="form-label">العنوان</label>
                <input type="text" class="form-control text-end" id="address" formControlName="address" placeholder="العنوان">
                <div class="danger" *ngIf="merchantForm.get('address')?.invalid && merchantForm.get('address')!.touched">
                    <small>Address is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="phone" class="form-label">رقم الهاتف</label>
                <input type="tel" class="form-control text-end" id="phone" formControlName="phone" placeholder="رقم الهاتف">
                <div class="danger" *ngIf="merchantForm.get('phone')?.invalid && merchantForm.get('phone')!.touched">
                    <small>Phone is required</small>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="branchId" class="form-label">الفرع</label>
                <select class="form-select text-end" id="branchId" formControlName="branchId" aria-label="الفرع">
                  <option value="" disabled selected>اختر الفرع</option>
                  <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
                </select>
                <div class="danger" *ngIf="merchantForm.get('branchId')?.invalid && merchantForm.get('branchId')?.touched">
                  <small>Branch is required</small>
                </div>
              </div>
            
              <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="city" class="form-label">المدينة</label>
                <select class="form-select text-end" id="city" formControlName="city" aria-label="المدينة">
                  <option value="" disabled selected>اختر المدينة</option>
                  <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                </select>
                <div class="danger" *ngIf="merchantForm.get('city')?.invalid && merchantForm.get('city')?.touched">
                  <small>City is required</small>
                </div>
              </div>
            
              <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="government" class="form-label">المحافظة</label>
                <select class="form-select text-end" id="government" formControlName="government" aria-label="المحافظة">
                  <option value="" disabled selected>اختر المحافظة</option>
                  <option *ngFor="let government of governments" [value]="government.name">{{ government.name }}</option>
                </select>
                <div class="danger" *ngIf="merchantForm.get('government')?.invalid && merchantForm.get('government')?.touched">
                  <small>Government is required</small>
                </div>
              </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="merchantName" class="form-label">اسم المتجر</label>
                <input type="text" class="form-control text-end" id="merchantName" formControlName="storeName" placeholder="اسم المتجر">
                <div class="danger" *ngIf="merchantForm.get('merchantName')?.invalid && merchantForm.get('merchantName')!.touched">
                    <small>Merchant Name is required</small>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3 mt-2">
                <label for="rejectOrderPercentage" class="form-label">نسبة تحمل التاجر لقيمة شحن الطلبات المرفوضة</label>
                <input type="number" class="form-control text-end" id="rejectOrderPercentage" formControlName="refund_Percentage" placeholder="نسبة تحمل التاجر">
                <div class="danger" *ngIf="merchantForm.get('rejectOrderPercentage')?.invalid && merchantForm.get('rejectOrderPercentage')!.touched">
                    <small>Percentage is required</small>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3 mt-2">
                <label for="pickupCost" class="form-label">تكلفة Pickup الخاصة</label>
                <input type="number" class="form-control text-end" id="pickupCost" formControlName="pickup_Price" placeholder="تكلفة Pickup">
                <div class="danger" *ngIf="merchantForm.get('pickupCost')?.invalid && merchantForm.get('pickupCost')!.touched">
                    <small>Pickup Cost is required</small>
                </div>
            </div>


            <div class="row align-items-center mt-3 border rounded p-3">
                <div class="col">
                  <button type="button" class="btn btn-primary" (click)="addSpecialOffer()">اضافه جديده</button>
                </div>
                <h3 class="col">اضافه باقات باسعار مميزه لبعض المدن</h3>
                <div class="mt-3">
                  <table class="table table-bordered" *ngIf="specialOffers.length > 0">
                    <thead class="table-secondary">
                      <tr>
                        <th scope="col">حذف</th>
                        <th scope="col">سعر الشحن</th>
                        <th scope="col">المدينة</th>
                        <th scope="col">المحافظة</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="specialOffers">
                      <tr *ngFor="let offer of specialOffers.controls; let i = index" [formGroupName]="i">
                        <td>
                          <button type="button" class="btn btn-danger" (click)="removeSpecialOffer(i)">
                            <i class="bi bi-trash"></i>
                          </button>
                        </td>
                        <td><input type="number" class="form-control" formControlName="price" /></td>
                        <td>
                          <select class="form-select" formControlName="cityId">
                            <option value="" disabled selected>اختر المدينة</option>
                            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                          </select>
                        </td>
                        <td>
                          <select class="form-select" formControlName="governmentId">
                            <option value="" disabled selected>اختر المحافظة</option>
                            <option *ngFor="let government of governments" [value]="government.name">{{ government.name }}</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            <div class="col-lg-12 mt-4">
                <button  class="btn btn-primary">حفظ</button>
            </div>
            
        </form>
    </div>
</div>
