<p>add-merchant-account works!</p>
<div class="row g-3 mt-5 pt-0 p-5 text-end bg-body-tertiary">
    <div class="bg-white p-3 rounded">
        <h3 class="font-weight-bold">التجار</h3>
        <h4>
            <span><a [routerLink]="['/AddMerchantAccount']" routerLinkActive="active">اضافه تاجر </a></span>
            <span> > </span>
            <span><a [routerLink]="['/MerchantAccounts']" routerLinkActive="active"> التجار </a></span>
            <span><i class="bi bi-house-door-fill"></i></span>
        </h4>
    </div>

    <div class="bg-white p-3 rounded">
        <h3 class="font-weight-bold">اضافه تاجر</h3>
        
        <form class="row text-end g-3 mt-5 pt-0">
            <!-------------------- First Column ---------------------->
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="password" class="form-label">كلمه المرور</label>
                <input type="password" class="form-control text-end" id="password" placeholder="كلمه المرور" required>
                <div class="danger">
                    <small>Password is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="email" class="form-label">البريد الالكتروني</label>
                <input type="email" class="form-control text-end" id="email" placeholder="البريد الالكتروني" required>
                <div class="danger">
                    <small>Email is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="name" class="form-label">الاسم</label>
                <input type="text" class="form-control text-end" id="name" placeholder="الاسم" required>
                <div class="danger">
                    <small>Name is required</small>
                </div>
            </div>

            <!------------------ Second Column ------------------>
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="password2" class="form-label">العنوان</label>
                <input type="text" class="form-control text-end" id="password2" placeholder="العنوان" required>
                <div class="danger">
                    <small>Address is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="phone" class="form-label">رقم الهاتف</label>
                <input type="tel" class="form-control text-end" id="phone" placeholder="رقم الهاتف" required>
                <div class="danger">
                    <small>Phone is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="branch" class="form-label">الفرع</label>
                <input type="text" class="form-control text-end" id="branch" placeholder="الفرع" required>
                <div class="danger">
                    <small>Branch is required</small>
                </div>
            </div>

            <!------------------ Third Column ------------------>
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="city" class="form-label">المدينة</label>
                <select class="form-select text-end" id="city" aria-label="المدينة">
                    <option selected>اختر المدينة</option>
                    <option value="1">مدينة 1</option>
                    <option value="2">مدينة 2</option>
                    <option value="3">مدينة 3</option>
                </select>
                <div class="danger">
                    <small>City is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="government" class="form-label">المحافظة</label>
                <select class="form-select text-end" id="government" aria-label="المحافظة">
                    <option selected>اختر المحافظة</option>
                    <option value="1">محافظة 1</option>
                    <option value="2">محافظة 2</option>
                    <option value="3">محافظة 3</option>
                </select>
                <div class="danger">
                    <small>Government is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="merchantName" class="form-label">اسم المتجر</label>
                <input type="text" class="form-control text-end" id="merchantName" placeholder="اسم المتجر" required>
                <div class="danger">
                    <small>Merchant Name is required</small>
                </div>
            </div>

            <!------------------ Fourth Column ------------------>
            <div class="col-lg-6 col-md-6 mb-3 mt-2">
                <label for="rejectOrderPercentage" class="form-label">نسبة تحمل التاجر لقيمة شحن الطلبات المرفوضة</label>
                <input type="number" class="form-control text-end" id="rejectOrderPercentage" placeholder="نسبة تحمل التاجر" required>
                <div class="danger">
                    <small>Percentage is required</small>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3 mt-2">
                <label for="pickupCost" class="form-label">تكلفة Pickup الخاصة</label>
                <input type="number" class="form-control text-end" id="pickupCost" placeholder="تكلفة Pickup" required>
                <div class="danger">
                    <small>Pickup Cost is required</small>
                </div>
            </div>
            <!-- اضافه باقات باسعار مميزه  -->
            <div class="row align-items-center mt-3 border rounded p-3">
                <div class="col">
                    <button class="btn btn-primary">اضافه جديده</button>
                </div>
                <h3 class="col">اضافه باقات باسعار مميزه لبعض المدن</h3>
                <div class="mt-3">
                    <form>
                        <!-- display only when click on button  -->
                        <table class="table table-bordered">
                            <thead class="table-secondary">
                              <tr>
                                <th scope="col">حذف</th>
                                <th scope="col">سعر الشحن</th>
                                <th scope="col">المدينه</th>
                                <th scope="col">المحافظة</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><i class="bi bi-trash danger m-2"></i></td>
                                <td>add data here</td>
                                <td>add data here</td>
                                <td>add data here</td>
                              </tr>
                            </tbody>
                          </table>
                          
                    </form>
                </div>
            </div>
            <div>
                <button class="rounded">حفظ</button>
            </div>
        </form>
    </div>
</div>
