<div class="row g-3 mt-5 pt-0 p-5 text-end bg-body-tertiary">
    <div class="bg-white p-3 rounded">
      <h3 class="font-weight-bold">تعديل بيانات التاجر</h3>
      <form class="row text-end g-3 mt-5 pt-0" [formGroup]="merchantForm" (ngSubmit)="onSubmit()">
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="password" class="form-label">كلمه المرور</label>
          <input type="password" class="form-control text-end" id="password" formControlName="password" placeholder="كلمه المرور">
          <div *ngIf="merchantForm.get('password')!.invalid && merchantForm.get('password')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('password')!.hasError('required')">كلمة المرور مطلوبة</small>
            <small *ngIf="merchantForm.get('password')!.hasError('minlength')">يجب أن تكون كلمة المرور على الأقل 8 حروف</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="email" class="form-label">البريد الالكتروني</label>
          <input type="email" class="form-control text-end" id="email" formControlName="email" placeholder="البريد الالكتروني">
          <div *ngIf="merchantForm.get('email')!.invalid && merchantForm.get('email')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('email')!.hasError('required')">البريد الإلكتروني مطلوب</small>
            <small *ngIf="merchantForm.get('email')!.hasError('email')">صيغة البريد الإلكتروني غير صحيحة</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="name" class="form-label">الاسم</label>
          <input type="text" class="form-control text-end" id="name" formControlName="name" placeholder="الاسم">
          <div *ngIf="merchantForm.get('name')!.invalid && merchantForm.get('name')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('name')!.hasError('required')">الاسم مطلوب</small>
            <small *ngIf="merchantForm.get('name')!.hasError('minlength')">يجب أن يكون الاسم على الأقل 3 حروف</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="address" class="form-label">العنوان</label>
          <input type="text" class="form-control text-end" id="address" formControlName="address" placeholder="العنوان">
          <div *ngIf="merchantForm.get('address')!.invalid && merchantForm.get('address')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('address')!.hasError('required')">العنوان مطلوب</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="phone" class="form-label">رقم الهاتف</label>
          <input type="tel" class="form-control text-end" id="phone" formControlName="phone" placeholder="رقم الهاتف">
          <div *ngIf="merchantForm.get('phone')!.invalid && merchantForm.get('phone')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('phone')!.hasError('required')">رقم الهاتف مطلوب</small>
            <small *ngIf="merchantForm.get('phone')!.hasError('pattern')">صيغة رقم الهاتف غير صحيحة</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="branchId" class="form-label">الفرع</label>
          <select class="form-select text-end" id="branchId" formControlName="branchId" aria-label="الفرع">
            <option value="" disabled selected>اختر الفرع</option>
            <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
          </select>
          <div *ngIf="merchantForm.get('branchId')!.invalid && merchantForm.get('branchId')!.touched" class="text-danger">
            <small>الفرع مطلوب</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="city" class="form-label">المدينة</label>
          <select class="form-select text-end" id="city" formControlName="city" aria-label="المدينة">
            <option value="" disabled selected>اختر المدينة</option>
            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
          </select>
          <div *ngIf="merchantForm.get('city')!.invalid && merchantForm.get('city')!.touched" class="text-danger">
            <small>المدينة مطلوبة</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="government" class="form-label">المحافظة</label>
          <select class="form-select text-end" id="government" formControlName="government" aria-label="المحافظة">
            <option value="" disabled selected>اختر المحافظة</option>
            <option *ngFor="let government of governments" [value]="government.name">{{ government.name }}</option>
          </select>
          <div *ngIf="merchantForm.get('government')!.invalid && merchantForm.get('government')!.touched" class="text-danger">
            <small>المحافظة مطلوبة</small>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-3 mt-2">
          <label for="storeName" class="form-label">اسم المتجر</label>
          <input type="text" class="form-control text-end" id="storeName" formControlName="storeName" placeholder="اسم المتجر">
          <div *ngIf="merchantForm.get('storeName')!.invalid && merchantForm.get('storeName')!.touched" class="text-danger">
            <small>اسم المتجر مطلوب</small>
          </div>
        </div>
  
        <div class="col-lg-6 col-md-6 mb-3 mt-2">
          <label for="rejectOrderPercentage" class="form-label">نسبة إلغاء الطلب</label>
          <input type="number" class="form-control text-end" id="rejectOrderPercentage" formControlName="rejectOrderPercentage" placeholder="نسبة إلغاء الطلب">
          <div *ngIf="merchantForm.get('rejectOrderPercentage')!.invalid && merchantForm.get('rejectOrderPercentage')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('rejectOrderPercentage')!.hasError('required')">نسبة إلغاء الطلب مطلوبة</small>
            <small *ngIf="merchantForm.get('rejectOrderPercentage')!.hasError('min')">يجب أن تكون النسبة على الأقل 0%</small>
            <small *ngIf="merchantForm.get('rejectOrderPercentage')!.hasError('max')">يجب أن تكون النسبة على الأكثر 100%</small>
          </div>
        </div>
  
        <div class="col-lg-6 col-md-6 mb-3 mt-2">
          <label for="pickupCost" class="form-label">تكلفة الاستلام</label>
          <input type="number" class="form-control text-end" id="pickupCost" formControlName="pickupCost" placeholder="تكلفة الاستلام">
          <div *ngIf="merchantForm.get('pickupCost')!.invalid && merchantForm.get('pickupCost')!.touched" class="text-danger">
            <small *ngIf="merchantForm.get('pickupCost')!.hasError('required')">تكلفة الاستلام مطلوبة</small>
            <small *ngIf="merchantForm.get('pickupCost')!.hasError('min')">يجب أن تكون تكلفة الاستلام على الأقل 0</small>
          </div>
        </div>
  
        <div class="row align-items-center mt-3 border rounded p-3">
          <div class="col">
            <button class="btn btn-primary" (click)="addNewOffer()" type="button">اضافه جديده</button>
          </div>
          <h3 class="col">اضافه باقات باسعار مميزه لبعض المدن</h3>
          <div class="mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>المدينة</th>
                  <th>المحافظه</th>
                  <th>سعر التوصيل</th>
                  <th>إزالة</th>
                </tr>
              </thead>
              <tbody formArrayName="specialOffers">
                <tr *ngFor="let offer of specialOffers.controls; let i = index" [formGroupName]="i">
                  <td>
                    <select class="form-select text-end" formControlName="city">
                      <option value="" disabled selected>اختر المدينة</option>
                      <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                    </select>
                    <div *ngIf="offer.get('city')!.invalid && offer.get('city')!.touched" class="text-danger">
                      <small>المدينة مطلوبة</small>
                    </div>
                  </td>
                  <td>
                    <select class="form-select text-end" formControlName="government">
                      <option value="" disabled selected>اختر المحافظة</option>
                      <option *ngFor="let government of governments" [value]="government.name">{{ government.name }}</option>
                    </select>
                    <div *ngIf="offer.get('government')!.invalid && offer.get('government')!.touched" class="text-danger">
                      <small>المحافظة مطلوبة</small>
                    </div>
                  </td>
                  <td>
                    <input type="number" class="form-control text-end" formControlName="deliveryPrice" placeholder="سعر التوصيل">
                    <div *ngIf="offer.get('deliveryPrice')!.invalid && offer.get('deliveryPrice')!.touched" class="text-danger">
                      <small *ngIf="offer.get('deliveryPrice')!.hasError('required')">سعر التوصيل مطلوب</small>
                      <small *ngIf="offer.get('deliveryPrice')!.hasError('min')">يجب أن يكون سعر التوصيل على الأقل 0</small>
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-danger" type="button" (click)="removeOffer(i)">إزالة</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="col-12 text-center mt-5">
          <button class="btn btn-primary px-5 py-2" type="submit" [disabled]="merchantForm.invalid">تحديث</button>
        </div>
      </form>
    </div>
  </div>
  