<div class="row g-3 mt-5 pt-0 p-5 text-end bg-body-tertiary">
    <div class="bg-white p-3 rounded">
        <h3 class="font-weight-bold">المناديب</h3>
        <h4>
            <span><a [routerLink]="['/AddDeliveryAccount']" routerLinkActive="active">اضافه مندوب </a></span>
            <span> > </span>
            <span><a [routerLink]="['/DeliveryAccounts']" routerLinkActive="active"> المناديب </a></span>
            <span> < </span>
            <span><i class="bi bi-house-door-fill"></i></span>
        </h4>
    </div>

    <div class="bg-white p-3 rounded">
        <h3 class="font-weight-bold">اضافه مندوب</h3>
        
        <form class="row text-end g-3 mt-5 pt-0">

            <!-------------------- First Column ---------------------->
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="password" class="form-label">كلمه المرور</label>
                <input type="password" class="form-control text-end" id="password" placeholder="كلمه المرور" required>
                <div class="danger">
                    <small>Password is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="email" class="form-label">البريد الالكتروني</label>
                <input type="email" class="form-control text-end" id="email" placeholder="البريد الالكتروني" required>
                <div class="danger">
                    <small>Email is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="name" class="form-label">الاسم</label>
                <input type="text" class="form-control text-end" id="name" placeholder="الاسم" required>
                <div class="danger">
                    <small>Name is required</small>
                </div>
            </div>

            <!------------------ Second Column ------------------>


            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="phone" class="form-label">رقم الهاتف</label>
                <input type="tel" class="form-control text-end" id="phone" placeholder="رقم الهاتف" required>
                <div class="danger">
                    <small>Phone is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="password2" class="form-label">المحافظات</label>
                <input type="text" class="form-control  text-end" id="password2" placeholder="المحافظات" required>
                <div class="danger">
                    <small>Government is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="branch" class="form-label">الفرع</label>
                <input type="text" class="form-control text-end" id="branch" placeholder="الفرع" required>
                <div class="danger">
                    <small>Branch is required</small>
                </div>
            </div>

            <!------------------ Third Column ------------------>
            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="city" class="form-label">نسبه الشركه من الطلب</label>
                <input type="text" class="form-control text-end" id="branch" placeholder="نسبه الشركه " required>
                
                <div class="danger">
                    <small>percentage is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="government" class="form-label">نوع الخصم </label>
                <select class="form-select text-end" id="government" aria-label="المحافظة">
                    <option selected>اختر  نسبه الخصم </option>
                    <option value="1"> 10 % </option>
                    <option value="2"> 20 %</option>
                    <option value="3"> 30 %</option>
                </select>
                <div class="danger">
                    <small>Discound  is required</small>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-2">
                <label for="merchantName" class="form-label">العنوان  </label>
                <input type="text" class="form-control text-end" id="merchantName" placeholder="العنوان " required>
                <div class="danger">
                    <small>Address Name is required</small>
                </div>
            </div>



            <div>
                <button class=" rounded ">حفظ</button>
            </div>

        </form>
    </div>
</div>
