<div class="swiper-pagination" style="width: 100%;"></div>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <div class="forms">
            <div class="form-wrapper is-active">
                <form class="form form-login">
                    <fieldset>
                      <legend>من فضلك ادخل حسابك و كلمة السر.</legend>
                      <div class="input-block">
                        <label for="login-email">الحساب</label>
                        <input id="login-email" type="email" required>
                      </div>
                      <div class="input-block">
                        <label for="login-password">كلمة السر</label>
                        <input id="login-password" type="password" required>
                      </div>
                    </fieldset>
                    <button type="submit" class="btn-login">تسجيل الدخول</button>
                  </form>
            </div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="forms">
            <div class="form-wrapper is-active">
                <form class="form form-login">
                    <fieldset>
                      <legend>من فضلك ادخل حسابك و كلمة السر.</legend>
                      <div class="input-block">
                        <label for="login-email">الحساب</label>
                        <input id="login-email" type="email" required>
                      </div>
                      <div class="input-block">
                        <label for="login-password">كلمة السر</label>
                        <input id="login-password" type="password" required>
                      </div>
                    </fieldset>
                    <button type="submit" class="btn-login">تسجيل الدخول</button>
                  </form>
            </div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="forms">
            <div class="form-wrapper is-active">
                <form class="form form-login">
                    <fieldset>
                      <legend>من فضلك ادخل حسابك و كلمة السر.</legend>
                      <div class="input-block">
                        <label for="login-email">الحساب</label>
                        <input id="login-email" type="email" required>
                      </div>
                      <div class="input-block">
                        <label for="login-password">كلمة السر</label>
                        <input id="login-password" type="password" required>
                      </div>
                    </fieldset>
                    <button type="submit" class="btn-login">تسجيل الدخول</button>
                  </form>
            </div>
        </div>
    </div>
  </div>
</div>